.main_form {
  margin-top: 20px;
}

input {
  width: 100%;
  height: 25px;
  margin: 10px;
  font-size: 15px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

#login-form input[type="submit"] {
  font-weight: bold;
  width: 100%;
  height: 25px;
  margin: 3px;
  font-size: 15px;
  border: none;
  outline: none;
  background: none;
}

#login-form {
  -webkit-animation: focus-in-contract-bck 1s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#login-form input[type="submit"]:hover {
  cursor: pointer;
}

#searchInput {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3)
  );
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 300px;
  transition: all 0.3s ease;
}

#searchInput:focus,
#searchInput:hover {
  color: rgba(0, 0, 0, 0.8);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
