.sidebar {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100%;
  width: 200px;
  transition: background-color 0.5s ease, border-right 0.5s ease;
}

.sidebar.active {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.main_todo {
  padding: 20px;
}

.todos {
  padding: 20px;
}
